<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="VidLoveVidU - A romantic Valentine event experience"
		/>
		<title>VidLoveVidU ♡</title>
		<link rel="stylesheet" href="/src/styles/global.css" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=5.0"
		/><link rel="icon" type="image/svg+xml" href="/favicon.svg" /><link
			rel="icon"
			href="/favicon.ico"
		/><meta name="generator" content={Astro.generator} /><meta
			name="description"
			content="VidLoveVidU - A romantic Valentine event experience"
		/><title>VidLoveVidU ♡</title></head
	>
</html>
<body>
	<slot />
</body>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
